/* write html, write css, write javascript, make it all work  */

body {
    display:flex;    
}

header {
    align-content:flex-start;
}

#quiz-card {
    visibility:hidden;
    padding:40px;
    display:flex;
    flex-direction:column;
}

#title {
    text-align:center;
    visibility:visible;
}

#welcome-card {
    justify-content:center;
   text-align:center;
};

#start {
    
}

#options {
    display:inline-block;
}

#question-text {
  
   
}

button {
    
}


#opt1 {

} 

#opt2 {

}

#opt3 {

}

#opt4 {
    
    }


