/* write html, write css, write javascript, make it all work  */

body {
    display:flex;    
}

header {
    align-content:flex-start;
}

#quiz-card {
    visibility:hidden;
    padding:40px;
    display:flex;
    flex-direction:column;
}

#results-card {
    visibility:hidden;
}

#quiz-footer {

}


#title {
    text-align:center;
    visibility:visible;
}

#welcome-card {
    justify-content:center;
   text-align:center;
}
.answer {
    
}

#results-card {

}

#start {
    
}

#options {
    display:inline-block;
}



