

body {
    
}

header {
    visibility: visible;
}

#quiz-card {
    
    visibility:hidden;
    padding:40px;
    display:center;
   
}

#results-card {
    
    padding:20px;
    visibility:hidden;
    display:center;
   
}

#title {
    
    padding:10px;
    text-align:center;
    visibility:visible;
}

#welcome-card {
   text-align:center;
}

#quiz-footer {

}

#results-card {
visibility: hidden;
}
.message {
    
}







