/* write html, write css, write javascript, make it all work  */

body {
    display:flex;    
}

#card {
    padding:40px;
    display:flex;
    flex-direction:column;
}

#title {
    text-align:center;
}

#question {
   /* display:none; */
   
}

#button {
}

#opt1 {
display:none;
} 

#opt2 {
display:none;
}

#opt3 {
display:none;
}
